---
interface Course {
  title: string;
  year: string;
  academy: string;
  type: string;
  certificateHref: string;
}

interface Props {
  courses?: Course[];
}

const { courses } = Astro.props;
---

{courses && (
  <section id="courses" class="courses">
    <h2 data-section="1.4_">Courses</h2>

    <div id="allCoursesChart" style="width: 100%; height: 400px"></div>
    <div id="coursesByYearChart" style="width: 100%; height: 800px"></div>
    <div id="coursesByAcademyChart" style="width: 100%; height: 800px"></div>
    <div id="chartByType" style="width: 100%; height: 600px"></div>

    <p class="course-presentation">
      These are some of the most significant courses I've taken:
    </p>

    {courses.map((course, index) => {
      const courseId = course.title.toLowerCase().replace(/\s+/g, '-');
      return (
        <div
          id={`course-${index + 1}`}
          class="course"
          data-console={`714k ${new Date().toISOString().replace(/[-:]/g, '.').split('.')[0]}.${new Date().toISOString().split('T')[1].split('.')[0]}`}
          data-path={`~/the-server/courses/${course.title.replace(/\s+/g, '-').toLowerCase().replace(/[:.]/g, '')}`}
        >
          <p class="course-count" data-prompt="» echo $COURSE">
            {index > 0 && (
              <a
                href={`#course-${index}`}
                title="See the previous course"
              >«</a>
            )}
            <span> Course {index + 1} of {courses.length}</span>

            {index < courses.length - 1 && (
              <a href={`#course-${index + 2}`} title="See the next course"
                >»</a>
            )}
          </p>

          <div class="course-details-container">
            <h3>
              <span>{course.title}</span>
            </h3>
            <p class="course-details">
              <strong class="year">Year: </strong>
              <em class="text year">{course.year}</em><br />

              <strong class="academy">Academy: </strong>
              {(() => {
                const containsHTML = typeof course.academy === 'string' && (course.academy.includes('<') && course.academy.includes('>'));
                return containsHTML ? (
                  <em class="text academy" set:html={course.academy} />
                ) : (
                  <em class="text academy">{course.academy}</em>
                );
              })()}
              <br />

              <strong class="type">Type: </strong>
              <em class="text type">{course.type}</em><br />

              <span class="certificate">
                <a
                  href={course.certificateHref}
                  title={`See the ${course.title} certificate in PDF format`}
                  target="_blank"
                  >View certificate</a
                >
              </span>
            </p>
          </div>
        </div>
      );
    })}
  </section>
)}

