---
import mainNavigation from '../data/main-navigation.json';

interface Props {
  currentUrl?: string;
}

const { currentUrl = '' } = Astro.props;
---

<input type="checkbox" id="menuToggle" />
<label for="menuToggle" class="menu-icon"></label>

<div class="navigation-wrapper">
  <nav role="navigation" class="main-navigation">
    <ul class="nav">
      {mainNavigation.map((anchor) => (
        <li class="nav-item">
          <a
            class={currentUrl === anchor.href ? 'current' : ''}
            data-before={anchor.prefixText}
            href={anchor.href}
            title={anchor.title}>
            {anchor.text}
          </a>
          {anchor.subsections && (
            <ul>
              {anchor.subsections.map((anchorSubsection) => (
                <li class="nav-item sub-navigation">
                  <a
                    class={currentUrl === anchorSubsection.href ? 'current' : ''}
                    title={anchorSubsection.title} 
                    href={anchorSubsection.href}>{anchorSubsection.text}</a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))}
    </ul>
  </nav>
</div>

