---
import ProjectBrief from './ProjectBrief.astro';
import { getEntry } from 'astro:content';

interface Props {
  title: string;
  projectName: string;
}

const { title, projectName } = Astro.props;

const projectEntry = await getEntry('projects', projectName);
if (!projectEntry) {
  throw new Error(`No project content found for "${projectName}" in the "projects" collection`);
}
const project = projectEntry.data;
---

<header class="cover">
  {
    (() => {
      const containsHTML = typeof title === 'string' && title.includes('<') && title.includes('>');
      return containsHTML ? <h1 set:html={title} /> : <h1>{title}</h1>;
    })()
  }
</header>
<!-- <TOC data={toc} /> -->

<ProjectBrief data={project.brief} />

<!-- <ProjectGallery 
  galleries={project.galleries}
  galleriesImages={projectData.galleries}
  projectsNavigation={project.projectsNavigation}
/> -->
